.operate {
  position: absolute;
  z-index: 100;
  user-select: none;
  .line {
    position: absolute;
    .operate-line {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: content-box;
      background-color: $blueColor1;
      cursor: move;
      &.top {
        height: 1px;
      }
      &.bottom {
        height: 1px;
      }
      &.left {
        width: 1px;
      }
      &.right {
        width: 1px;
      }
    }
  }
  .resize-box {
    position: absolute;
    .resize-box-item {
      position: absolute;
      width: 8px;
      height: 8px;
      border: 1px solid $secondaryText;
      background-color: #fff;
    }
  }
}
