.toolbar {
  height: 45px;
  border-bottom: 1px $lightBorder solid;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
  z-index: 100;
  background-color: #fff;
  user-select: none;
}
