.add-tool {
  font-size: 12px;
  .add-more,
  .tool-icon {
    display: flex;
    align-items: center;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: $lightFill;
    }
  }
  .add-more {
    justify-content: space-around;
    width: 50px;
  }
  .tool-icon {
    width: 25px;
    justify-content: center;
  }
  .icon-shape {
    width: 35px;
    justify-content: space-around;
  }
}

.add-more-dropdown {
  .ant-dropdown-menu-title-content {
    width: 180px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $regularText;
    svg {
      margin-left: 5px;
    }
    .dropdown-title {
      margin-left: 10px;
    }
    .ant-upload[role='button'] {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $regularText;
      padding: 5px 12px;
      width: 204px;
    }
  }
  .ant-dropdown-menu-item:nth-child(3) {
    padding: 0;
  }
}
