.add-tool {
  font-size: 12px;
  .add-more,
  .tool-icon {
    display: flex;
    align-items: center;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: $lightFill;
    }
  }
  .add-more {
    justify-content: space-around;
    width: 50px;
  }
  .tool-icon {
    width: 25px;
    justify-content: center;
  }
  .icon-shape {
    width: 35px;
    justify-content: space-around;
  }
}

.add-more-dropdown {
  .ant-dropdown-menu-title-content {
    width: 180px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $regularText;
    svg {
      margin-left: 5px;
    }
    .dropdown-title {
      margin-left: 10px;
    }
    .ant-upload[role='button'] {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $regularText;
      padding: 5px 12px;
      width: 204px;
    }
  }
  .ant-dropdown-menu-item:nth-child(3) {
    padding: 0;
  }
  .ant-dropdown-menu-submenu-expand-icon {
    top: 3px;
  }
}

.shape-menu-children {
  .shape-menu {
    color: $regularText;
    background-color: #fff;
    font-size: 12px;
    font-weight: 300;
    width: 318px;
    max-height: 580px;
    overflow: auto;
    .shape-list-item {
      .shape-list {
        margin: 8px 0 10px;
        display: flex;
        flex-wrap: wrap;
        .shape-menu-item {
          margin: 0 5px 6px 0;
          .shape-content {
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              cursor: pointer;
              background-color: rgba(0, 0, 0, 0.04);
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
  .ant-dropdown-menu-item:hover {
    background-color: #fff;
  }
}

.shape-menu-dropdown {
  .shape-menu {
    color: $regularText;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
      0 9px 28px 8px rgb(0 0 0 / 5%);
    background-color: #fff;
    font-size: 12px;
    font-weight: 300;
    width: 318px;
    max-height: 580px;
    overflow: auto;
    padding: 15px;
    .shape-list-item {
      .shape-list {
        margin: 8px 0 10px;
        display: flex;
        flex-wrap: wrap;
        .shape-menu-item {
          margin: 0 5px 6px 0;
          .shape-content {
            width: 26px;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              cursor: pointer;
              background-color: rgba(0, 0, 0, 0.04);
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}
