.canvas-wrapper {
  flex: 1;
  height: 100%;
  background-color: $lightFill;
  position: relative;
  overflow: hidden;
  .viewport-wrapper {
    position: absolute;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .viewport {
    position: absolute;
    top: 0;
    left: 0;
  }
}
