.left-bar {
  width: 180px;
  height: 100%;
  border-right: 1px solid $lightBorder;
  background-color: $pageBackground;
  display: flex;
  flex-direction: column;
  z-index: 1;
  user-select: none;
  .add-page {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    .ant-btn {
      font-size: 12px;
      color: $regularText;
      &:first-child {
        width: 110px;
      }
    }
  }
  .page-list {
    flex: 1;
    overflow-y: auto;
    .sort-container {
      .slide {
        display: flex;
        margin: 10px 0;
        cursor: default;
        .slide-num {
          font-size: 12px;
          color: $secondaryText;
          width: 25px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
        .slide-content {
          width: 130px;
          height: 73px;
          background: #fff;
          border: 1px solid $lightBorder;
          word-wrap: break-word;
        }
      }
    }
    .checked-slide {
      // outline: 1px solid rgba(1, 136, 251, 0.8) !important;
      border: 1px solid rgba(1, 136, 251, 0.8) !important;
    }
  }
  .ghost-slide {
    .slide-num {
      visibility: hidden;
    }
    .slide-content {
      opacity: 0.3;
    }
  }
  .dragging-slide {
    .slide-num {
      visibility: hidden;
    }
  }
  .fallback-slide {
    visibility: hidden;
  }
}
