$textColor: #303133;
$regularTextColor: #606266;
$secondaryText: #909399;
$placeholderText: #a8abb2;
$disabledText: #c0c4cc;
$borderColor: #e6e8eb;
$hoverColor: #f5f7fa;
$pageBackground: #fafafa;
$darkerBorder: #cdd0d6;
$darkBorder: #d4d7de;
$baseBorder: #dcdfe6;
$lightBorder: #e4e7ed;
$lighterBorder: #ebeef5;
$extraLightBorder: #f2f6fc;
$darkerFill: #e6e8eb;
$darkFill: #ebedf0;
$baseFill: #f0f2f5;
$lightFill: #f5f7fa;
$lighterFill: #fafafa;
$extraLightFill: #fafcff;
$blankFill: #ffffff;
$basicBlack: #000000;
$pageBackground: #f2f3f5;
