$baseText: #303133;
$regularText: #606266;
$secondaryText: #909399;
$placeholderText: #a8abb2;
$disabledText: #c0c4cc;

$darkerBorder: #cdd0d6;
$darkBorder: #d4d7de;
$baseBorder: #dcdfe6;
$lightBorder: #e4e7ed;
$lighterBorder: #ebeef5;
$extraLightBorder: #f2f6fc;

$darkerFill: #e6e8eb;
$darkFill: #ebedf0;
$baseFill: #f0f2f5;
$lightFill: #f5f7fa;
$lighterFill: #fafafa;
$extraLightFill: #fafcff;
$blankFill: #ffffff;

$pageBackground: #f2f3f5;
